* {
  padding: 0;
  margin: 0;
  font-family: system-ui;
  box-sizing: border-box;
}

html {
  font-size: 67.5%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* REUSABLE CSS */
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

/* HEADER */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  box-shadow: 0 2px 16px hsla(220, 32%, 8%, 0.3);
  z-index: 100;
}

.nav {
  height: 100%;
}

.nav__burger,
.nav__close {
  color: black;
  position: absolute;
  width: max-content;
  height: max-content;
  inset: 0;
  margin: auto;
  font-size: 2rem;
  cursor: pointer;
  transition: opacity 0.1s, transform 0.4s;
}

.nav__close {
  opacity: 0;
}

.nav__data {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__toggle {
  position: relative;
  height: 32px;
  width: 32px;
}
